<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <springProperty scop="context" name="LOG_PATH" source="log.file.path" defaultValue="./log"/>
    <springProperty scop="context" name="LOG_LEVEL" source="log.info.level" defaultValue="ERROR"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>invoice-check.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <fileNamePattern>${LOG_PATH}/face-backend-%d{yyyyMMdd}_%i.log</fileNamePattern>
            <!--日志文件保留天数 -->
            <maxHistory>7</maxHistory>
            <!-- or whenever the file size reaches 100MB -->
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>

    <logger name="com.tniu.backend" level="DEBUG" additivity="false">
    <!--<logger name="com.qhsettle.invoice" level="${LOG_LEVEL}" additivity="false">-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>


    <!-- 日志输出级别 -->
    <root level="${LOG_LEVEL}">
    <!--<root level="info">-->
        <!--<root level="debug">-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="DB" />-->
    </root>
</configuration>